body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffffff 0%, rgb(0, 0, 0) 100%);
    margin: 5;
    padding: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    text-align: center;
}

.úkoly {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    width: 80%;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fbff00;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 4px 8px rgb(39, 100, 41);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

label {
    color: #d9ff00;
    width: 100%;
}

p {
    font-size: 18px;
    color: #fbff00;
    margin-top: 10px;
    width: 100%;
}

.text-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}